<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head>

<body>
    <div>
        <table border="1px soild black">
            <tr>
                <th>UserName</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Email</th>
            </tr>
            {% for item in list %}
                <tr>
                    <td>{{item.username}}</td>
                    <td>{{item.first_name}}</td>
                    <td>{{item.last_name}}</td>
                    <td>{{item.email}}</td>
                </tr>
            {% endfor %}
            
        </table>
    </div>
</html>