{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="{% static "user_app/fonts/icomoon/style.css" %}">

    <link rel="stylesheet" href="{% static "user_app/css/owl.carousel.min.css" %}">

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="{% static "user_app/css/bootstrap.min.css" %}">
    
     <!-- Style -->
     <link rel="stylesheet" href="{% static "user_app/css/style.css" %}">
</head>
<body>
    <div>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">User Name</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody>
            {% for user in list %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="{% url 'user_app:edit_user' user.pk %}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
          <a href="{% url 'user_app:index' %}">Back to home</a>
    </div>
</body>
</html>

